<div id="book-main">
	<h2 id="book-preview-title">{{book.title}}</h2>
	<br>
	<img src={{book.imageUrl}} id="book-preview-cover" alt="Book Cover">
	<div id="book-preview-description">{{book.description}}</div>

	{{#if isAdmin}}
		<button id="btn-add-book" title="Add {{book.title}} to the Library">Add to Library</button>
	{{/if}}

	{{barcode-reader}}
</div>
