<div id="book-main">
	<h2 id="book-details-title">{{book.title}}</h2>
	<div id="book-details-status" class={{availabilityClass}}>{{formattedStatus}}</div>
	<br>
	<img src={{book.imageUrl}} id="book-details-cover" alt="Book Cover" title={{book.title}}>
	<div id="book-details-description">{{book.description}}</div>

	{{book-reviews bookId=book.id}}

	{{#if bookIsAvailable}}
		{{barcode-reader}}
	{{/if}}
</div>