<div id="page-header">
	<div id="inner-header">
		<a href="/"><img src="/assets/img/code.png" id="header-logo" title="CODE Logo" alt="CODE Logo"></a>
		<span id="display-name">{{userGoogleData.displayName}}</span>
		<img id="display-picture" src={{userGoogleData.photoURL}} alt="{{userGoogleData.displayName}}'s profile picture" title="{{userGoogleData.displayName}}'s profile picture">

		<div id="drop-down" class="transitions">
			<a href="#" class="drop-down-item transitions" {{action "signOut"}} title="Sigh Out">Sign Out</a>
		</div>
	</div>
</div>